*.class
# Package Files #
*.jar
*.war
*.ear
*.class
*.apk
bin/
gen/
.settings/
proguard/
.\MyMusic\.classpath
.\MyMusic\.settings
.\MyMusic\bin
.\MyMusic\gen
.\MyMusic\libs
.\MyMusic\proguard-project.txt
.\MyMusic\project.properties

.\MMusic\.classpath
.\MMusic\.settings
.\MMusic\bin
.\MMusic\gen
.\MMusic\libs
.\MMusic\proguard-project.txt
.\MMusic\project.properties
http.txt
/bin

/gen

MyMusic/bin
MyMusic/gen

MMMusic/bin
MMMusic/gen

